<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmpt276.charcoal.practicalparent">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticalParent">
        <activity
            android:name=".TasksActivity"
            android:label="@string/title_activity_tasks"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PracticalParent.NoActionBar" />
        <activity
            android:name=".EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:parentActivityName=".TasksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PracticalParent.NoActionBar" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoinFlipActivity"
            android:label="@string/coinFlip_label"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditChildActivity"
            android:label="@string/title_activity_edit_child"
            android:parentActivityName=".ChildrenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PracticalParent.NoActionBar" />
        <activity
            android:name=".RecordActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".model.BackgroundService" />

        <activity
            android:name=".ChildrenActivity"
            android:label="@string/title_activity_children"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PracticalParent.NoActionBar" />
        <activity
            android:name=".TimeOutActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".model.NotificationStopBroadcastReceiver" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>