<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmpt276.charcoal.practicalparent">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticalParent">
        <activity
            android:name=".CoinFlipActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".EditChildActivity"
            android:label="@string/title_activity_edit_child"
            android:theme="@style/Theme.PracticalParent.NoActionBar"
            android:parentActivityName=".ChildrenActivity">
        </activity>
        <service android:name=".model.BackgroundService" />

        <activity
            android:name=".ChildrenActivity"
            android:label="@string/title_activity_children"
            android:theme="@style/Theme.PracticalParent.NoActionBar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".TimeOutActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
        </activity>
        <receiver android:name=".NotificationStopBroadcastReceiver"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>